<div ng-include="'components/navbar/navbar.html'"></div>

<md-toolbar class="md-theme-light">
	<h2 class="md-toolbar-tools container">
		<span>Users list</span>
	</h2>
</md-toolbar>
<section layout="column" layout-fill>
  <md-whiteframe class="md-whiteframe-z1 container" layout layout-align="center center">
    <p>The delete user and user index api routes are restricted to users with the 'admin' role.</p>
  </md-whiteframe>
</section>
<md-content class="container md-whiteframe-z1">
	<md-list>
		<md-list-item class="md-2-line" ng-repeat="user in users">
			<div class="md-list-item-text">
				<h3>{{user.name}}</h3>
				<h4>{{user.email}}</h4>
			</div>
			<md-button layout="row" layout-sm="column" layout-align="center center" ng-click="delete(user)" class="trash"><span class="glyphicon glyphicon-trash pull-right"></span></md-button>
			<md-divider ng-if="!$last"></md-divider>
		</md-list-item>
	</md-list>
</md-content>