<section ng-include="'components/navbar/navbar.html'"></section>

<md-toolbar class="md-primary">
  <h1 class="md-toolbar-tools container">
    Change Password
  </h1>
</md-toolbar>
<md-content layout-padding class="container">
  <form name="form" ng-submit="changePassword(form)">
    <md-input-container>
      <label>Current Password</label>
      <input type="password" required name="oldPassword" ng-model="user.oldPassword">
      <div ng-messages="user.oldPassword.$error">
        <div ng-message="required">This is required.</div>
      </div>
    </md-input-container>
    <md-input-container>
      <label>New Password</label>
      <input type="password" md-minlength="3" required name="newPassword" ng-model="user.newPassword">
      <div ng-messages="user.newPassword.$error">
        <div ng-message="required">This is required.</div>
        <div ng-message="md-maxlength">The name has to be more than 3 characters long.</div>
      </div>
    </md-input-container>
  </form>
</md-content>