<div ng-include="'components/navbar/navbar.html'"></div>

<md-toolbar class="md-primary">
  <h1 class="md-toolbar-tools container">
    Login
  </h1>
</md-toolbar>
<section layout="column" layout-fill>
  <md-whiteframe class="md-whiteframe-z1 container" layout layout-align="center center">
    <span>Accounts are reset on server restart from <code>server/config/seed.js</code>. Default account is <code>test@test.com</code> / <code>test</code></span>
  </md-whiteframe>
  <md-whiteframe class="md-whiteframe-z1 container" layout layout-align="center center">
    <span>Admin account is <code>admin@admin.com</code> / <code>admin</code></span>
  </md-whiteframe>
</section>
<md-content layout-padding class="container">
  <form name="form" ng-submit="login(form)">
    <md-input-container>
      <label>Email</label>
      <input type="email" required name="email" ng-model="user.email" mongoose-error>
      <div ng-messages="form.email.$error">
        <p ng-message="required" ng-show="form.email.$error.required && submitted">Please enter your email.</p>
        <p ng-message="md-invalid" ng-show="form.email.$error.email && submitted">Please enter a valid email.</p>
        <p ng-message="md-mongoose" ng-show="form.email.$error.mongoose">{{ errors.email }}</p>
      </div>
    </md-input-container>
    <md-input-container>
      <label>Password</label>
      <input type="password" md-minlength="3" required name="password" ng-model="user.password" mongoose-error>
      <div ng-messages="user.password.$error">
        <p ng-message="required">Please enter your password.</p>
        <p ng-message="md-minlength" ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted">Password must be at least 3 characters.</p>
        <p ng-message="md-mongoose" ng-show="form.password.$error.mongoose">{{ errors.password }}</p>
      </div>
    </md-input-container>
    <section layout="row" layout-sm="column" layout-align="center center">
      <md-button class="md-raised" type="submit">Login</md-button>
      <md-button class="md-raised md-primary" ng-href="/signup">Register</md-button>
    </section>
    <section layout="row" layout-sm="column" layout-align="center center">
      <md-button class="md-fab md-primary" aria-label="Connect with Facebook" ng-click="loginOauth('facebook')">
          <md-icon class="fa fa-facebook"></md-icon>
      </md-button>
      <md-button class="md-fab md-accent" aria-label="Connect with Google+" ng-click="loginOauth('google')">
        <md-icon class="fa fa-google-plus"></md-icon>
      </md-button>
      <md-button class="md-fab md-primary" aria-label="Connect with Twitter" ng-click="loginOauth('twitter')">
          <md-icon class="fa fa-twitter"></md-icon>
      </md-button>
    </section>
  </form>
</md-content>
