<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Welcome to Books Family!</h1>
    <p class="lead">Happy to see you here ;)</p>
    <img src="assets/images/logo.png" alt="Welcome to Books Family!">
  </div>
</header>

<!-- <div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Books:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="book in newestBooks">
        <li><a href="#" tooltip="{{book.info}}">{{book.name}}<button type="button" class="close" ng-click="deleteBook(book)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form class="book-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new book here." ng-model="newBook">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addBook()">Add New</button>
      </span>
    </p>
  </form>
</div> -->

<footer class="footer">
  <div class="container">
    <p>BooksFamily v0.0.1 |
      <a href="https://twitter.com/metelyk25">@metelyk25</a> |
      <a href="https://github.com/vira-lytvyn/BooksFamily/issues?q=is%3Aopen">Issues</a>
    </p>
    <p><a href="https://gitter.im/vira-lytvyn/BooksFamily?utm_source=badge&amp;utm_medium=badge&amp;utm_campaign=pr-badge&amp;utm_content=badge"><img src="https://camo.githubusercontent.com/da2edb525cde1455a622c58c0effc3a90b9a181c/68747470733a2f2f6261646765732e6769747465722e696d2f4a6f696e253230436861742e737667" alt="Join the chat at https://gitter.im/vira-lytvyn/BooksFamily" data-canonical-src="https://badges.gitter.im/Join%20Chat.svg" style="max-width:100%;"></a></p>
  </div>
</footer>
