<div ng-include="'components/navbar/navbar.html'"></div>

<md-toolbar class="md-primary">
  <h1 class="md-toolbar-tools container">
    Sign up
  </h1>
</md-toolbar>
<md-content layout-padding class="container">
  <form name="form" ng-submit="register(form)">
    <md-input-container ng-class="{ 'has-success': form.name.$valid && submitted, 'has-error': form.name.$invalid && submitted }">
      <label>Name</label>
      <input type="text" required name="name" ng-model="user.name">
      <div ng-messages="form.name.$error">
        <p ng-message="required">A name is required</p>
      </div>
    </md-input-container>
    <md-input-container ng-class="{ 'has-success': form.email.$valid && submitted, 'has-error': form.email.$invalid && submitted }">
      <label>Email</label>
      <input type="email" required name="email" ng-model="user.email" mongoose-error>
      <div ng-messages="form.email.$error">
        <p ng-message="required" ng-show="form.email.$error.required && submitted">What's your email address?</p>
        <p ng-message="md-invalid" ng-show="form.email.$error.email && submitted">Doesn't look like a valid email.</p>
        <p ng-message="md-mongoose" ng-show="form.email.$error.mongoose">{{ errors.email }}</p>
      </div>
    </md-input-container>
    <md-input-container ng-class="{ 'has-success': form.password.$valid && submitted, 'has-error': form.password.$invalid && submitted }">
      <label>Password</label>
      <input type="password" md-minlength="3" required name="password" ng-model="user.password" mongoose-error>
      <div ng-messages="user.password.$error">
        <p ng-message="required">This is required.</p>
        <p ng-message="md-minlength" ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted">Password must be at least 3 characters.</p>
        <p ng-message="md-mongoose" ng-show="form.password.$error.mongoose">{{ errors.password }}</p>
      </div>
    </md-input-container>
    <section layout="row" layout-sm="column" layout-align="center center">
      <md-button class="md-raised" type="submit">Sign up</md-button>
      <md-button class="md-raised md-primary" ng-href="/login">Login</md-button>
    </section>
    <section layout="row" layout-sm="column" layout-align="center center">
      <md-button class="md-fab md-primary" aria-label="Connect with Facebook" ng-click="loginOauth('facebook')">
          <md-icon class="fa fa-facebook"></md-icon>
      </md-button>
      <md-button class="md-fab md-accent" aria-label="Connect with Google+" ng-click="loginOauth('google')">
        <md-icon class="fa fa-google-plus"></md-icon>
      </md-button>
      <md-button class="md-fab md-primary" aria-label="Connect with Twitter" ng-click="loginOauth('twitter')">
          <md-icon class="fa fa-twitter"></md-icon>
      </md-button>
    </section>
  </form>
</md-content>
