<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Sign up</h1>
    </div>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="register(form)" novalidate>

        <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                            'has-error': form.name.$invalid && submitted }">
          <label>Name</label>

          <input type="text" name="name" class="form-control" ng-model="user.name"
                 required/>
          <p class="help-block" ng-show="form.name.$error.required && submitted">
            A name is required
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.email.$valid && submitted,
                                            'has-error': form.email.$invalid && submitted }">
          <label>Email</label>

          <input type="email" name="email" class="form-control" ng-model="user.email"
                 required
                 mongoose-error/>
          <p class="help-block" ng-show="form.email.$error.email && submitted">
            Doesn't look like a valid email.
          </p>
          <p class="help-block" ng-show="form.email.$error.required && submitted">
            What's your email address?
          </p>
          <p class="help-block" ng-show="form.email.$error.mongoose">
            {{ errors.email }}
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.password.$valid && submitted,
                                            'has-error': form.password.$invalid && submitted }">
          <label>Password</label>

          <input type="password" name="password" class="form-control" ng-model="user.password"
                 ng-minlength="3"
                 required
                 mongoose-error/>
          <p class="help-block"
             ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted">
            Password must be at least 3 characters.
          </p>
          <p class="help-block" ng-show="form.password.$error.mongoose">
            {{ errors.password }}
          </p>
        </div>

        <div>
          <button class="btn btn-inverse btn-lg btn-login" type="submit">
            Sign up
          </button>
          <a class="btn btn-default btn-lg btn-register" href="/login">
            Login
          </a>
        </div>

        <hr>
        <div>
          <a class="btn btn-facebook" href="" ng-click="loginOauth('facebook')">
            <i class="fa fa-facebook"></i> Connect with Facebook
          </a>
          <a class="btn btn-google-plus" href="" ng-click="loginOauth('google')">
            <i class="fa fa-google-plus"></i> Connect with Google+
          </a>
          <a class="btn btn-twitter" href="" ng-click="loginOauth('twitter')">
            <i class="fa fa-twitter"></i> Connect with Twitter
          </a>
        </div>
      </form>
    </div>
  </div>
  <hr>
</div>
<!-- 
<form name="userForm" class="ng-pristine ng-valid ng-valid-md-maxlength">

      <div layout="" layout-sm="column">
        <md-input-container style="width:80%" class="md-default-theme md-input-has-value">
            <label for="input_00K">Company (Disabled)</label>
            <input ng-model="user.company" disabled="" class="ng-pristine ng-untouched ng-valid md-input" id="input_00K" tabindex="0" aria-invalid="false">
          </md-input-container>

        <md-input-container flex="" class="md-default-theme">
          <label for="input_00L">Submission Date</label>
          <input type="date" ng-model="user.submissionDate" class="ng-pristine ng-untouched ng-valid md-input" id="input_00L" tabindex="0" aria-invalid="false">
        </md-input-container>
      </div>

      <div layout="" layout-sm="column">
        <md-input-container flex="" class="md-default-theme">
          <label for="input_00M">First name</label>
          <input ng-model="user.firstName" class="ng-pristine ng-valid md-input ng-touched" id="input_00M" tabindex="0" aria-invalid="false">
        </md-input-container>
        <md-input-container flex="" class="md-default-theme">
          <label for="input_00N">Last Name</label>
          <input ng-model="theMax" class="ng-pristine ng-valid md-input ng-touched" id="input_00N" tabindex="0" aria-invalid="false">
        </md-input-container>
      </div>

      <md-input-container flex="" class="md-default-theme md-input-has-value">
        <label for="input_00O">Address</label>
        <input ng-model="user.address" class="ng-pristine ng-untouched ng-valid md-input" id="input_00O" tabindex="0" aria-invalid="false">
      </md-input-container>
      <md-input-container md-no-float="" class="md-default-theme">
        <input ng-model="user.address2" placeholder="Address 2" class="ng-pristine ng-untouched ng-valid md-input" aria-label="Address 2" id="input_00P" tabindex="0" aria-invalid="false">
      </md-input-container>

      <div layout="" layout-sm="column">
        <md-input-container flex="" class="md-default-theme md-input-has-value">
          <label for="input_00Q">City</label>
          <input ng-model="user.city" class="ng-pristine ng-untouched ng-valid md-input" id="input_00Q" tabindex="0" aria-invalid="false">
        </md-input-container>
        <md-input-container flex="" class="md-default-theme md-input-has-value">
          <label for="input_00R">State</label>
          <input ng-model="user.state" class="ng-pristine ng-untouched ng-valid md-input" id="input_00R" tabindex="0" aria-invalid="false">
        </md-input-container>
        <md-input-container flex="" class="md-default-theme md-input-has-value">
          <label for="input_00S">Postal Code</label>
          <input ng-model="user.postalCode" class="ng-pristine ng-untouched ng-valid md-input" id="input_00S" tabindex="0" aria-invalid="false">
        </md-input-container>
      </div>

      <md-input-container flex="" class="md-default-theme md-input-has-value">
        <label for="input_00T">Biography</label>
        <textarea ng-model="user.biography" columns="1" md-maxlength="150" class="ng-pristine ng-valid md-input ng-valid-md-maxlength ng-touched" id="input_00T" ng-trim="false" aria-multiline="true" tabindex="0" aria-invalid="false" style="height: 107px;"></textarea>
      <div class="md-char-counter">102/150</div></md-input-container> -->